a {
  color: inherit;
  text-decoration: inherit;
}

video {
}

@media (min-width:1200px) {
  .h1, h1 {
    font-size: 10vh;
  }
}

@media (min-width:1200px) {
  .h1, h1 {
    font-size: 10vh;
  }
}

@media (max-width:1200px) {
  .h1, h1 {
    font-size: 16vw;
  }
}

@media (min-width:992px) {
  .col-lg-7 {
    flex: 0 0 auto;
    width: 50%;
  }
}

